.event-secondary {
  background-image: linear-gradient(310deg, #627594, #a8b8d8) !important;
}

.event-info {
  background-image: linear-gradient(310deg, #2152ff, #21d4fd) !important;
}

.event-success {
  background-image: linear-gradient(310deg, #17ad37, #98ec2d) !important;
}

.event-warning {
  background-image: linear-gradient(310deg, #f53939, #fbcf33) !important;
}

.event-error {
  background-image: linear-gradient(310deg, #ea0606, #ff667c) !important;
}

.modal-form-add-event-calendar {
  .ant-modal-content {
    border-radius: 20px !important;

    .ant-modal-header {
      .ant-modal-title {
        font-size: 24px;
        font-weight: 700;
        font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
      }
    }

    .ant-modal-body {
      .form-container {
        padding: 24px;

        .form {
          max-width: 600px;
          margin: 0 auto;

          .select-type-event {
            height: 50px;
            width: 100%;
            .ant-select-selector {
              padding: 12px;
              border-radius: 15px;
              span {
                font-size: 16px;
              }
              input {
                font-size: 16px;
              }
            }
            .ant-select-arrow,
            .ant-select-selection-search {
              font-size: 15px;
            }
          }

          .form-item-footer {
            margin-bottom: 0 !important;
          }

          .full-width {
            width: 100%;
          }

          .ant-form-item-required {
            font-size: 18px;
          }

          .ant-picker {
            padding: 12px;
            font-size: 20px;
            border-radius: 15px;
            input {
              font-size: 16px;
            }
          }

          .ant-input {
            border-radius: 15px;
            font-size: 16px;
          }

          .ant-space-gap-col-small {
            column-gap: 12px;
          }

          .ant-form-item-control-input {
            .ant-form-item-control-input-content {
              display: flex;
              justify-content: space-evenly;

              button {
                height: 40px;
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    .ant-modal-footer {
      .ant-btn {
        span {
          font-size: 16px;
        }
      }
    }
  }
}

.modal-confirm-delete {
  top: 35% !important;
  .ant-modal-header {
    .ant-modal-title {
      font-size: 20px;
      .anticon {
        font-size: 25px;
      }
    }
  }
  .ant-modal-body {
    font-size: 16px;
  }
  .ant-modal-footer {
    margin-top: 14px;
    button {
      font-weight: 600;
      padding: 20px 18px;
    }
    span {
      font-size: 16px;
    }
  }
}

.test {
  color: rgba(0, 0, 0, 0.4); /* Màu mờ */
}
